@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Dancing+Script&family=Libre+Baskerville:ital@0;1&family=Quicksand:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
}
body{
    font-family: sans-serif;
}

/*Nav bar*/

nav{
    
    height: 80px;
    width:100%;
    background-color: black;
    overflow: hidden;
}
label.logo{
    color:rgb(240, 6, 100);
    font-size: 3rem;
    line-height:80px;
    padding: 0 100px;
    font-weight: bold;
    font-family:'dancing script',sans-serif;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;  
}
nav ul li a:hover{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    background-color: rgb(240, 6, 100);
    box-shadow: 5px 5px rgb(163, 27, 82);
    transition: 0.5s ease-in all;
    
}
nav ul li a.active{
    background-color: rgb(240, 6, 100);
    box-shadow: 5px 5px rgb(163, 27, 82);
}
.checkbtn{
    font-size: 30px;
    color:bisque;
    float:right;
    line-height:80px ;
    margin-right: 40px;
    cursor:pointer;
    display: none;
}
#check{
    display:none;

}

/*Container-1*/

#background_image{
    width:100%;
    height:475px;
    background-size: cover;
    background-position: center;
    background-image: url(http://1.bp.blogspot.com/-PeYaBk2w2H8/Ul4ac9EyF1I/AAAAAAAAAkg/jz50Cu2fRbA/s1600/living-room-interior-design.jpg);
}

.box1{
    position: absolute;
    top:50%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 600px;
    height:150px; 
    border-radius: 5px;
    
}
.box1 h1{
    position: absolute;
    top:2%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 4rem;
    color: white;
}
.box1 p{
    position: absolute;
    top:35%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 1.6rem;
    color: white;
}

/* Conatiner - 2 */
.container-2{
    position: absolute;
    top:110%;
    left:10%;
    right: 10%;
}
.container-2 h4{
    font-size: 3rem;

}
#border-1{
    position: absolute;
    padding-top: 10px;
    border-bottom: 3px solid rgb(240, 185, 6);
    width:90px;
}
.container-2 h1{
    padding-top: 20px;
    color:rgb(240, 6, 100);
    font-weight: lighter;
}
.container-2 p{
    padding-top: 30px;
    text-align: justify;
}
/* Conatiner - 3 */

.container-3{  
    position: absolute;
    top:180%;
    display: flex;
  }

.box-1{
    position:relative;
    left:45%;
    gap:20px;
    }

.box-2{
        position: relative;
        left:75%; 
        gap:20px;
    }
.box-3{
        position: relative;
        left:105%;
        gap:20px;
    }

    img{
        height:200px;
        width:250px;

    }
    .adjust{
        height:200px;
        width:200px;
    }
    .font{
        font-size: 2rem;
        color: rgb(240, 6, 100);
        padding-top: 30px;
    }
    .des{
        text-align: left;
        padding-top: 36px;
    }
    #button{
        position: relative;
        margin-top: 20px;
        height: 40px;
        width:130px;
        background-color: rgb(240, 6, 100);
        text-align: center;
        padding-top: 10px;
        color: white;
        font-weight: 30px;
        box-shadow: 7px 7px rgb(163, 27, 82);        
    }
    #button:hover{
        background-color: black;
        box-shadow: none;
        transition: 0.5s ease-in all;
        cursor: pointer;
    }

/* Footer */
.footer{
    height:380px;
    width:100%;
    display:flex;
    position: absolute;
    top:290%;
    background-color: black;
    color:white;
  }



  /*Left Box*/
  .left-box{
      height:320px;
      width:34%;
      color:white;
      padding-left: 3%;
  }

  /*font*/
  .font1{
      font-size: 1rem;
      padding-top: 27px;
      padding-left: 13px;
  }

  .font2{
      font-size: 1rem;
      padding-top: 37px;
      padding-left: 13px;
      color:rgb(232, 8, 127) ;
  }

  /*description*/
  .des1{
      font-size: 1rem;
      padding-top: 25px;
      padding-left: 5px;
      color: white;
      line-height: 1.7;
  }
  #border-3{
      position: absolute;
      left:5.5%;
      padding-top: 27px;
      transform:translate(-50%,-50%); 
      border-bottom: 3px solid rgb(240, 6, 100);
      width:40px;
      }


  /*Middle box*/

  .middle-box{
      height:320px;
      width:33%;
      color:white;
      padding-left: 4%;
  }
 
  /*font*/
  .font3{
      font-size: 1rem;
      padding-top: 27px;
      padding-left: 13px;
  }

  /*description*/
  .des2{
      font-size: 1rem;
      padding-top: 36px;
      padding-left: 13px;
      color:white;
      line-height: 2.3;
      font-size: 1rem;
  }
  #border-4{
      position: absolute;
      left:40.6%;
      padding-top: 27px;
      transform:translate(-50%,-50%); 
      border-bottom: 3px solid rgb(240, 6, 100);
      width:40px;
      }


  /*Right box*/
  .right-box{
      height:320px;
      width:33%;
      color:white;
      padding-left: 5.5%;
  }

  
  /*font*/
  .font4{
      font-size: 1rem;
      padding-top: 27px;
      padding-left: 10px;
  }

  /*description*/
  .des3{
      font-size: 1rem;
      padding-top: 40px;
      padding-left: 10px;
      color:white;
      line-height:2.3;
  }
  #border-5{
      position: absolute;
      left:75.3%;
      padding-top: 27px;
      transform:translate(-50%,-50%); 
      border-bottom: 3px solid rgb(240, 6, 100);
      width:50px;
      }

  .footer1{
    height:50px;
      width:100%;
      background-color: black;
      position: absolute;
      display: flex;
      margin-top: 330px;
      border-top: 1px solid rgb(232, 8, 127) ;
      color:white;
  }
  .font5{
    font-size: 13px;
      padding-left: 40%;
      padding-top:1.5%;
  }


  /*Left Box*/
  .left-box{
      height:320px;
      width:34%;
      color:white;
      padding-left: 3%;
  }

  /*font*/
  .font1{
      font-size: 1rem;
      padding-top: 27px;
      padding-left: 13px;
  }

  .font2{
      font-size: 1rem;
      padding-top: 37px;
      padding-left: 13px;
      color:rgb(232, 8, 127) ;
  }

  /*description*/
  .des1{
      font-size: 1rem;
      padding-top: 25px;
      padding-left: 5px;
      color: white;
      line-height: 1.7;
  }
  #border-3{
      position: absolute;
      left:5.5%;
      padding-top: 27px;
      transform:translate(-50%,-50%); 
      border-bottom: 3px solid rgb(240, 6, 100);
      width:40px;
      }


  /*Middle box*/

  .middle-box{
      height:320px;
      width:33%;
      color:white;
      padding-left: 4%;
  }
 
  /*font*/
  .font3{
      font-size: 1rem;
      padding-top: 27px;
      padding-left: 13px;
  }

  /*description*/
  .des2{
      font-size: 1rem;
      padding-top: 36px;
      padding-left: 13px;
      color:white;
      line-height: 2.3;
      font-size: 1rem;
  }
  #border-4{
      position: absolute;
      left:40.6%;
      padding-top: 27px;
      transform:translate(-50%,-50%); 
      border-bottom: 3px solid rgb(240, 6, 100);
      width:40px;
      }


  /*Right box*/
  .right-box{
      height:320px;
      width:33%;
      color:white;
      padding-left: 5.5%;
  }

  
  /*font*/
  .font4{
      font-size: 1rem;
      padding-top: 27px;
      padding-left: 10px;
  }

  /*description*/
  .des3{
      font-size: 1rem;
      padding-top: 40px;
      padding-left: 10px;
      color:white;
      line-height:2.3;
  }
  #border-5{
      position: absolute;
      left:75.3%;
      padding-top: 27px;
      transform:translate(-50%,-50%); 
      border-bottom: 3px solid rgb(240, 6, 100);
      width:50px;
      }

  .footer1{
    height:50px;
      width:100%;
      background-color: black;
      position: absolute;
      display: flex;
      margin-top: 330px;
      border-top: 1px solid rgb(232, 8, 127) ;
      color:white;
  }
  .font5{
    font-size: 13px;
      padding-left: 40%;
      padding-top:1.5%;
  }

/*---------------------------------------------------------------------------
  ---------------------------------------------------------------------------*/

/*Responsive*/

@media screen and(max-width:740px){
    nav{
        overflow: hidden;
    }
    /* Container - 1 */
    .container-1{
        overflow: hidden;
    }
    #background_image{
        overflow: hidden;
    }
    .box1{
        padding-left: 30px; 
        border-radius: 5px;
        margin-left: 10px;
        background-color: rgb(6, 106, 73);
        width: 100%;
    }
    .box1 h1{
        font-size: 1rem;
    }

    /*Container -2 */

    .container-2{
        overflow: hidden;
    }

    /*  Container - 3*/

    .container-3{
        overflow: hidden;
        flex-direction: column;
        height: 1100px;
        width:100%;
       
    }
    .box-1{
        position: absolute;
        top:20;

    }
    /* Footer  */
    .footer-class{
        position: absolute;
        top:92%;
       

    }
       .footer-class p{
        font-size: 13px;
      }
}

/*----------------------------- NAVBAR   ----------------------------------*/

@media(max-width:858px){

    /*For Responsive navbar*/

    .checkbtn{
        display: block;
    }
    ul{
        z-index: 1;
        position: fixed;
        width:100%;
        height:max-content;
        background: black;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }

    nav{
        overflow: hidden;
    }

    nav ul li{
        display: block;
        margin:50px 0;
        line-height: 10px;
    }
    nav ul li a{
        font-size:20px;
    }
    
    #check:checked ~ ul{
        left: 0;
    }
}