@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Dancing+Script&family=Libre+Baskerville:ital@0;1&family=Quicksand:wght@300&display=swap');


*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   
}
body{
    font-family: sans-serif;
    background-image: url('nature.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    height:100vh;
    background-position:center; 
}

/*Nav bar*/

nav{
    
    height: 80px;
    width:100%;
    background-color: black;
}
label.logo{
    color:rgb(232, 8, 127);
    font-size: 3rem;
    line-height:80px;
    padding: 0 100px;
    font-weight: bold;
    font-family:'dancing script',sans-serif;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    
}

.checkbtn{
    font-size: 30px;
    color:bisque;
    float:right;
    line-height:80px ;
    margin-right: 40px;
    cursor:pointer;
    display: none;
}
#check{
    display:none;

}

.header{
    height: 370px;
    width:100%;
    background-image: url(https://images.unsplash.com/photo-1584622781564-1d987f7333c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 65%;
    background-blend-mode: darken;
}
.center-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px; 
    left: 20%;
    padding-top: 17%;
    transform: translate(-50%,-50%);
    font-size: 1.3rem;
  }
  #border-1{
    position: absolute;
    left:15%;
    margin-top: 30%;
    transform:translate(-50%,-50%); 
    border-bottom: 3px solid rgb(240, 6, 100);
    width:110px;

  }
/* Container - 4 */

.container-4{
    position: absolute;
    top:77%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;   
    width: 100%; 
    height:690px; 
}

.container-4-about2{
    flex-basis:40%;    
}
#container-4-heading{
   font-size: 3rem;
   font-weight: bold;
   color: rgb(240,6,100);
}
#border-2{
    position: absolute;
    border-bottom: 3px solid rgb(240, 185,6);
    width:100px;
    padding-top: 10px;
  }
#container-4-sub-title{
    padding-top: 50px;
    line-height: 2;
    font-size: 1.2rem;
}
.container-4-about1{
    flex-basis:30%; 
}
.about1-image{
    width: 470px;
    height:490px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    box-shadow: -45px -45px rgb(240,6,100);
    background-image: url(https://images.unsplash.com/photo-1583847268964-b28dc8f51f92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
}


    /*footer*/

    .footer{
        height:320px;
        width:100%;
        display:flex;
        position: absolute;
        top:100%;
        background-color: black;
        color:white;
      }
  
      /*Left Box*/
      .left-box{
          height:320px;
          width:34%;
          color:white;
          padding-left: 3%;
      }
  
      /*font*/
      .font1{
          font-size: 1.7rem;
          padding-top: 27px;
          padding-left: 13px;
      }
  
      .font2{
          font-size: 1.5rem;
          padding-top: 20px;
          padding-left: 13px;
          color:rgb(232, 8, 127) ;
      }
  
      /*description*/
      .des1{
          font-size: 1.2rem;
          padding-top: 25px;
          padding-left: 5px;
          color: white;
          line-height: 1.7;
      }
      #border-3{
          position: absolute;
          left:6%;
          padding-top: 27px;
          transform:translate(-50%,-50%); 
          border-bottom: 3px solid rgb(240, 6, 100);
          width:70px;
          }
  
  
      /*Middle box*/
  
      .middle-box{
          height:320px;
          width:33%;
          color:white;
          padding-left: 4%;
      }
     
      /*font*/
      .font3{
          font-size: 1.7rem;
          padding-top: 27px;
          padding-left: 13px;
      }
  
      /*description*/
      .des2{
          font-size: 1.3rem;
          padding-top: 20px;
          padding-left: 13px;
          color:white;
          line-height: 2.3;
          font-size: 1.3rem;
      }
      #border-4{
          position: absolute;
          left:41%;
          padding-top: 27px;
          transform:translate(-50%,-50%); 
          border-bottom: 3px solid rgb(240, 6, 100);
          width:70px;
          }
  
  
      /*Right box*/
      .right-box{
          height:320px;
          width:33%;
          color:white;
          padding-left: 5.5%;
      }
  
      
      /*font*/
      .font4{
          font-size: 1.7rem;
          padding-top: 27px;
          padding-left: 10px;
      }
  
      /*description*/
      .des3{
          font-size: 1.3rem;
          padding-top: 20px;
          padding-left: 10px;
          color:white;
          line-height:1.7;
      }
      #border-5{
          position: absolute;
          left:75.2%;
          padding-top: 27px;
          transform:translate(-50%,-50%); 
          border-bottom: 3px solid rgb(240, 6, 100);
          width:70px;
          }
  
      .footer1{
          height:100px;
          width:100%;
          background-color: black;
          position: absolute;
          display: flex;
          top:146%;
          border-top: 1px solid rgb(232, 8, 127) ;
          color:white;
      }
      .font5{
          font-size: 1rem;
          padding-left: 40%;
          padding-top:3.3%;
      }

          /*Responsive*/
   
@media  screen and (max-width:1070px){
    .header{

        height:370px;
        width:100%;
    }
}
@media(max-width:858px){

    /*For Responsive navbar*/

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width:100%;
        height:max-content;
        background:  rgb(0,0,0,0.5);
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin:50px 0;
        line-height: 10px;
    }
    nav ul li a{
        font-size:20px;
    }
    #check:checked ~ ul{
        left:0;
    }
}

@media screen and (max-width:750px){
    .center-div{
        position: absolute;
        display: flex;
        left:40%;
        top:15%;
        font-size: 1rem;
    }

    #border-1{
        left:20%;
        margin-top: 27%;
    }
}

@media screen and (max-width:1050px){
    .container-4{
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    .about1-image{
        height:360px;
        width:400px;
        box-shadow: -35px -35px rgb(240,6,100);
        background-size: cover;
        background-position: center;
    }
    #container-4-heading{
        color: rgb(240,6,100);
        font-size: 2rem;
        font-weight: bold;
        padding-left: 5%;
        padding-top: 6%;
    }
    #container-4-sub-title{
        font-size: 1rem;
        padding-left: 5%;
        padding-top: 4%;
    }

}